
.content-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 3px 1fr repeat(2, 3px 1fr 8fr 1fr 1fr) 1fr;
}

.buttoned-title,
.content-title {
    grid-column: span 4;
}

.word-container-header,
.word-card {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
}

.word-container-divider {
    background-color: var(--background-colour-contrast);
    grid-column: span 1;

    width: 100%;
    height: 100%;
}

.word-container-header {
    justify-items: center;
    align-items: center;

    background-color: var(--background-colour);
    font-family: var(--font-label);
    line-height: 40.46px;
    max-height: 100px;
}

.word-card {
    line-height: 29.9px;
    font-weight: 400;
    min-height: 120px;
}

.word-card p {
    place-self: center;
    padding: 5px;
}

.previous-button, 
.next-button,
.delete-word-card {
    place-self: center;
    width: 40px;
    height: 40px;
}
