:root {
    --background-colour-primary: #FFFFFF;
    --background-colour-secondary: #DFE3CB;
    --background-colour-contrast: #000000;
    --shadow-colour: #00000040;

    --row-colour-A: #E1F2FB;
    --row-colour-B: #E8EBEB;
    
    --delete-bg-colour: #FF7F50;
    --delete-colour: #FFFFFF;

    --font-label: "jost", sans-serif;
    --font-content: "arial", sans-serif;
}

h1,h2,h3,h4,h5,h6,p {
    margin:0;
    padding:0;
 }

.hide {
    display: none;
}