.bg-primary {
    background-color: var(--background-colour-primary);
}

.bg-secondary {
    background-color: var(--background-colour-secondary);
}

.header-title {
    font-family: var(--font-label);
    font-weight: 600;
    font-size: 40px;
}

.header-search {
    font-family: var(--font-label);
    font-weight: 500;
    font-size: 26px;
    padding: 15px;
}

.header-button {
    font-family: var(--font-label);
    font-weight: 500;
    font-size: 32px;
}

.word-title {
    font-family: var(--font-label);
    font-weight: 500;
    font-size: 24px;
    text-align: center;
}

.part-of-speech-title {
    font-size: 20px;
}

.word-card {
    font-family: var(--font-content);
    font-weight: 400;
}

.word-content {
    font-size: 26px;
}

.word-info {
    font-size: 18px;
}

.delete-word-card {
    background-color: var(--delete-bg-colour);
    color: var(--delete-colour);
    border-radius: 20%;
}

tr {
    border-collapse: collapse;
    border-spacing: 0; 
}

.print-table {
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
}

.print-cel {
    border: 2px solid black;
    padding: 8px;
}

.header-table {
    font-family: var(--font-label);
    font-weight: 500;
    font-size: 24px;
}

.body-table {
    font-family: var(--font-content);
    font-weight: 400;
    font-size: 18px;
}